[flake8]
max-line-length = 100
extend-ignore = 
    # E203: Whitespace before ':'
    E203,
    # W503: Line break before binary operator
    W503,
    # W504: Line break after binary operator
    W504  
exclude =
    venv
    _venv
    .venv
    _env
    env